<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="display-4">FastFuel Meal Prep</h1>
    
    <div class="navbar-nav justify-content-end">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        
        
        
        <% if (!currentUser) { %> 
            <a class="nav-item nav-link" href="/user/signin">Sign In</a>
        <% } else { %> 
            <a class="nav-item nav-link" href="/recipes">Recipes</a>
            <a class="nav-item nav-link" href="#">Sign Out</a>
        <% } %>
    </div>
</nav>