<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
            
        <div class="container">
            <% include ../static/partials/messages.ejs %>
            <% include ../static/partials/navBar.ejs %>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <a href="/recipes/new" class="btn btn-dark">Create New Recipe</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p>Which recipe(s) would you like to include in your shopping list?</p>
                    <form action="/recipes/create-list" method="post" id="recipe-list">
                        <% if (recipes.length > 0) { %>
                            <div id="recipe-1">
                                <select name="recipe-1">
                                    <% recipes.forEach((recipe, index) => { %> 
                                        <option value="<%= recipe.name %>"><%= recipe.name %></option>
                                    <% }) %>    
                                </select>
                            </div>
                            <button type="button" id="btn" class="btn btn-dark" onclick=<%= clickHandler %>>Add Another Recipe</button> 
                            <hr>
                            <button type="submit" class="btn btn-dark">Build new shopping list</button>
                        <% } else { %> 
                            <p>You have no recipes saved! Add one by clicking the 'Create New Recipe' button on the side!</p>
                        <% } %>
                    </form>
                    
                </div>
                <div class="col-md-2" id="test"></div>
                
            </div>
        </div>
        <script>
            let recipes = <%- JSON.stringify(recipes) %>
            let recipeCount = 1;
            let parentNodeName = 'recipe-1'
            function launch() {
                recipeCount++;
                const parentNode = document.getElementById(parentNodeName);
                const recipeDiv = document.createElement('div');
                const select = document.createElement('select');
                select.name = 'recipe-'+ recipeCount;
                recipeDiv.id = 'recipe-'+ recipeCount;
                function insertAfter(referenceNode, newNode) {
                    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
                }
                recipes.forEach((recipe) => {
                    select.options.add(new Option(recipe.name, recipe.name));
                }) 
                recipeDiv.appendChild(select);
                insertAfter(parentNode, recipeDiv);
                parentNodeName = select.name;
                console.log(typeof parentNodeName)
            }
        </script>
        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>