<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
    <% include ../static/partials/navBar.ejs %>
        <div class="container-fluid">
            <% include ../static/partials/messages.ejs %>
            <p class="text-center margin-bottom-large">You will need the following items for the recipes you selected:</p>
            <div class="row text-center">
                <div class="col-sm-2 d-none-xs" ></div>
                <div class="col-3" >
                    <h3>Item</h3>
                </div>
                <div class="col-2" >
                    <h3>Amount</h3>
                </div>
                <div class="d-none d-sm-inline col-sm-2">
                    <h3 class="d-none-xs">Have it?</h3>
                </div>
                <div class="col-sm-3 d-none-xs"></div>
            </div>
            <div class="text-center">
                <% result.forEach((ingredient, index) => { %>
                    <div class="row" data-index=<%= index %>>
                        <div class="col-sm-2 d-none-xs"></div>
                        <div class="col-3">
                            <h4><%= ingredient.item %></h4>
                        </div>
                        <div class="col-2">
                            <h4><%= ingredient.qty + ' ' + ingredient.measurement%></h4>
                        </div>
                        <div class="col-2">
                            <input type="checkbox" name="ingredient" data-index=<%= index %>>
                        </div>
                        <div class="col-sm-3 d-none-xs"></div>
                    </div>
                <% }) %>
            </div>
        </div>
        <script>
            const ingredientChecks = document.querySelectorAll('input[name="ingredient"]')
            
            ingredientChecks.forEach((radio) => {
                radio.addEventListener('change', () => {
                    const checked = event.target.attributes['data-index'].value;
                    const divEl = document.querySelector(`div[data-index="${checked}"]`);
                    if (event.target.checked) {
                        divEl.classList.add('completed');
                    } else {
                        divEl.classList.remove('completed');
                    }
                })
            })
        </script>
    </body>
</html>