<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../static/partials/messages.ejs %>
            <% include ../static/partials/navBar.ejs %>
            <p class="text-center">You will need the following items for the recipes you selected:</p>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <h4>Item</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Amount</h4>
                </div>
                <div class="col-sm-1">
                    <h4>Have it?</h4>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="text-center">
                <% result.forEach((ingredient, index) => { %>
                    <div class="row" data-index=<%= index %>>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <h4><%= ingredient.item %></h4>
                        </div>
                        <div class="col-sm-2">
                            <h4><%= ingredient.qty + ' ' + ingredient.measurement%></h4>
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="ingredient" data-index=<%= index %>>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                <% }) %>
            </div>
        </div>
        <script>
            const ingredientChecks = document.querySelectorAll('input[name="ingredient"]')
            
            ingredientChecks.forEach((radio) => {
                radio.addEventListener('change', () => {
                    const checked = event.target.attributes['data-index'].value;
                    const divEl = document.querySelector(`div[data-index="${checked}"]`);
                    if (event.target.checked) {
                        divEl.classList.add('completed');
                    } else {
                        divEl.classList.remove('completed');
                    }
                })
            })
        </script>
    </body>
</html>