<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
    
    <% include ../static/partials/navBar.ejs %>
    <main class="container-fluid">
    <% include ../static/partials/messages.ejs %>
        <div>
            <h2 class="margin-bottom-large">Sign In</h2>
            <form action="/user/signin" method="post">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input class="form-control" name="email" type="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                        <label for="password">Password: </label>
                        <input class="form-control" name="password" type="password" placeholder="Enter password"> 
                </div>
                <button type="submit" class="btn btn-dark btn-block">Login</button>
            </form>
            <hr>
            <p>Not a registered user?</p>
            <a href="/user/signup" class="btn btn-dark btn-block">Sign Up!</a>
        </div>
    </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>